<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Incluir el head -->
<div th:insert="~{fragments/head :: head}"></div>

<body style="background-color: #f0eeee;">
  <!-- Navbar -->
  <div th:insert="~{fragments/navbar :: navbar}"></div>

  <div class="container mt-5">

    <h2 class="fw-bold text-dark mb-4">Agregar Producto</h2>

    <div class="card">
      <div class="card-body">
        <form th:action="@{/admin/agregarProducto}" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-8">
              <div class="mb-4">
                <!-- Nombre -->
                <label for="nombre" class="form-label">Nombre del producto</label>
                <input type="text" class="form-control" id="nombre" name="nombre"
                  placeholder="Ingresa el nombre del producto" required />
              </div>

              <div class="mb-4">
                <!-- Descripción -->
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="4"
                  placeholder="Escribe una descripción breve del producto" required></textarea>
                <small id="charCountDescripcion" class="form-text text-muted">0/500</small>
              </div>

              <!-- Precio -->
              <div class="mb-4">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precio" name="precio" step="0.01" min="0"
                  placeholder="Ej: 19.99" required />
              </div>

              <!-- Descuento -->
              <div class="mb-4">
                <label for="descuento" class="form-label">Descuento (%)</label>
                <input type="number" class="form-control" id="descuento" name="descuento" step="1" min="0" max="100"
                  placeholder="Ej: 10" />
              </div>

              <!-- Peso -->
              <div class="mb-4">
                <label for="peso" class="form-label">Peso (en Kg)</label>
                <input type="number" class="form-control" id="peso" name="peso" step="any" min="0" max="100"
                  placeholder="Ej: 1.5" />
              </div>

              <!-- Stock -->
              <div class="mb-4">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" class="form-control" id="stock" name="stock" min="0"
                  placeholder="Cantidad disponible" required />
              </div>

              <!-- Categoría -->
              <div class="mb-4">
                <label for="categoria" class="form-label">Categoría</label>
                <select id="categoria" name="categoria" class="form-select" required>
                  <option value="" disabled selected>Seleccione una categoría</option>
                  <th:block th:each="entry : ${categorias}">
                      <option th:value="${entry.key.id}" th:text="${entry.key.nombre}" class="text-bg-light"
                          disabled></option>
                      <th:block th:each="subcategoria : ${entry.value}">
                          <option th:value="${subcategoria.id}" th:text="'➧ ' + ${subcategoria.nombre}">
                          </option>
                      </th:block>
                  </th:block>
              </select>
              </div>

              <!-- Almacén -->
              <div class="mb-4">
                <label for="almacen" class="form-label">Almacén</label>
                <select class="form-select" id="almacen" name="almacen" required>
                  <option value="" disabled selected>Seleccione un almacén</option>
                  <option th:each="almacen : ${almacenes}" th:value="${almacen.id}" th:text="${almacen}"></option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <!-- Subir Imágenes -->
              <div class="mb-4">
                <label for="imagenes" class="form-label">Subir Imágenes</label>
                <div class="border p-4 rounded bg-light text-center" style="height: 300px">
                  <input type="file" class="form-control" id="imagenes" name="imagenes" accept=".jpg, .jpeg, .png"
                    multiple required />
                  <img id="preview" src="#" alt="Previsualización de la imagen" class="img-fluid mt-3"
                    style="display: none" />
                </div>
              </div>
            </div>
          </div>

          <!-- Botón Enviar -->
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">
              Agregar Producto
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div th:insert="~{fragments/footer :: footer}"></div>

  <!-- Scripts -->
  <div th:insert="~{fragments/scripts :: scripts}"></div>
</body>

</html>